
@{
    ViewBag.Title = "RunCommand";
}

<h2>RunCommand</h2>
<form class="form-horizontal" action="/Command/RunCommand" method="post">
    <div class="form-group">
        <label class="control-label" for="commandName">Command Name</label>
        <input type="text" id="commandName" class="form-control" name="commandName" />
    </div>
    <input class="btn btn-primary" type="submit" value="Run" />
</form>
@if (ViewBag.BaseObject != null)
{
    <div>
        <ul>
            <li>
                <span>Name : @ViewBag.BaseObject.Name</span>
            </li>
            <li>
                <span>Source : @ViewBag.BaseObject.ModuleName</span>
            </li>
        </ul>
    </div>
}