@model SampleMVCApp.ViewModel.DirectoryInfoViewModel
@{
    ViewBag.Title = "DirectoryInfo";
}

<h2>DirectoryInfo</h2>

<form class="form-horizontal" action="/Directory/DirectoryInfo" method="post">
    <div class="form-group">
        <label class="control-label" for="path">Enter the path</label>
        <input class="form-control" id="path" type="text" name="path" />
    </div>
    <input class="btn btn-primary" type="submit" value="Get Content" />
</form>



@if (Model != null)
{
    if (Model.FileList.Count > 0)
    {
        <h5>Files List</h5>

        foreach (var file in Model.FileList)
        {
            <ul>
                <li>
                    <span>@file.FullName </span>
                </li>
            </ul>
        }
    }
    else
    {
        <h5>There is file in this directory ..</h5>
    }

    if (Model.DierecotoryList.Count > 0)
    {
        <h5>Sub-Directory  List</h5>
        foreach (var directory in Model.DierecotoryList)
        {

            <ul>
                <li>
                    <span>@directory.FullName </span>
                </li>
            </ul>
        }
    }
    else
    {
        <h5>There is no sub-directory in this directory ..</h5>
    }

}


